<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PriceGeek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="logo">PriceGeek</div>
    </div>
    <div class="content">
        <h2>Select Car Details to Scrape Auctions</h2>
        <div class="dropdown-container">
            <select id="dropdown-make" onchange="fetchCarModels()">
                <option value="" disabled selected>Select a car make</option>
                {% for make in car_makes %}
                    <option value="{{ make }}">{{ make }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="dropdown-container">
            <select id="dropdown-model" disabled onchange="fetchCarGenerations()">
                <option value="" disabled selected>Select a model</option>
            </select>
        </div>

        <div class="dropdown-container">
            <select id="dropdown-generation" disabled>
                <option value="" disabled selected>Select a generation (if applicable)</option>
            </select>
        </div>

        <div id="loading-indicator" class="spinner" style="display:none;"></div>

        <button class="btn" id="scrape-button" onclick="scrapeAuctions()">Scrape Auctions</button>
        <a id="download-csv" href="#" class="btn" style="display:none;" onclick="downloadCSV()">Download CSV</a>

        <h2>Or Upload Existing Auction Data</h2>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" id="file-input" name="file" accept=".csv">
            <button type="button" class="btn" onclick="uploadCSV()">Upload CSV</button>
        </form>
        <div id="upload-result" style="display:none;">
            <p id="upload-message"></p>
        </div>
        <div id="price-prediction" style="display:none;">
            <h2>Predict Car Price</h2>
            <form id="price-prediction-form">
                <label for="fuel_type">Fuel Type:</label>
                <select id="fuel_type" name="fuel_type" required onchange="updateEngineSizes()">
                    <option value="0">Benzyna</option>
                    <option value="1">Diesel</option>
                    <option value="2">Benzyna+LPG</option>
                    <option value="3">Benzyna+CNG</option>
                    <option value="4">Elektryczny</option>
                    <option value="5">Etanol</option>
                    <option value="6">Hybryda</option>
                    <option value="7">Wodór</option>
                </select><br><br>

                <label for="engine_size">Engine Size (cm3):</label>
                <select id="engine_size" name="engine_size" required onchange="updateHorsepowers()"></select><br><br>

                <label for="horsepower">Horsepower (KM):</label>
                <select id="horsepower" name="horsepower" required></select><br><br>

                <label for="mileage">Mileage (km):</label>
                <input type="number" id="mileage" name="mileage" required><br><br>

                <label for="gearbox">Gearbox:</label>
                <select id="gearbox" name="gearbox" required>
                    <option value="0">Manual</option>
                    <option value="1">Automatic</option>
                </select><br><br>

                <label for="production_year">Production Year:</label>
                <select id="production_year" name="production_year" required></select><br><br>

                <button type="button" class="btn" onclick="predictPrice()">Predict Price</button>
            </form>
        </div>
        <div id="prediction-result" style="display:none;">
            <h3>Estimated Price: <span id="predicted-price" style="color:#00ff00;"></span> zł</h3>
        </div>
    </div>

    <script>
        function showLoading() {
            $('#loading-indicator').show();
            $('#dropdown-model').prop('disabled', true).addClass('loading');
            $('#dropdown-generation').prop('disabled', true).addClass('loading');
            $('#scrape-button').hide();
        }

        function hideLoading() {
            $('#loading-indicator').hide();
            $('#dropdown-model').prop('disabled', false).removeClass('loading');
            $('#dropdown-generation').prop('disabled', false).removeClass('loading');
            $('#scrape-button').show();
        }

        function showScrapingLoading() {
            $('#loading-indicator').show();
            $('#scrape-button').hide();
        }

        function hideScrapingLoading() {
            $('#loading-indicator').hide();
            $('#scrape-button').show();
        }

        function fetchCarModels() {
            var carMake = $('#dropdown-make').val();
            showLoading();
            $.ajax({
                url: '/get_car_models',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({car_make: carMake}),
                success: function(models) {
                    var modelDropdown = $('#dropdown-model');
                    modelDropdown.empty();
                    modelDropdown.append('<option value="" disabled selected>Select a model</option>');
                    models.forEach(function(model) {
                        modelDropdown.append('<option value="' + model + '">' + model + '</option>');
                    });
                    hideLoading();
                },
                error: function(xhr, status, error) {
                    console.error("Failed to fetch models: ", status, error);
                    hideLoading();
                }
            });
        }

        function fetchCarGenerations() {
            var carMake = $('#dropdown-make').val();
            var carModel = $('#dropdown-model').val();
            showLoading();
            $.ajax({
                url: '/get_car_generations',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({car_make: carMake, car_model: carModel}),
                success: function(generations) {
                    var generationDropdown = $('#dropdown-generation');
                    generationDropdown.empty();
                    generationDropdown.append('<option value="" disabled selected>Select a generation (if applicable)</option>');
                    generations.forEach(function(generation) {
                        generationDropdown.append('<option value="' + generation + '">' + generation + '</option>');
                    });
                    hideLoading();
                },
                error: function(xhr, status, error) {
                    console.error("Failed to fetch generations: ", status, error);
                    hideLoading();
                }
            });
        }

        function scrapeAuctions() {
            var data = {
                car_make: $('#dropdown-make').val(),
                car_model: $('#dropdown-model').val(),
                generation: $('#dropdown-generation').val()
            };
            showScrapingLoading();
            $.ajax({
                url: '/scrape_auctions',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    console.log("Scrape and training completed:", response.message);
                    $('#price-prediction').show();
                    $('#download-csv').show();
                    hideScrapingLoading();
                    updateDropdowns();  // Ensure this function is defined to update your dropdowns
                },
                error: function(xhr, status, error) {
                    console.error("Failed to scrape auctions: ", status, error);
                    hideScrapingLoading();
                }
            });
        }

        function uploadCSV() {
            var formData = new FormData();
            var fileInput = $('#file-input')[0];
            if (fileInput.files.length === 0) {
                alert("Please select a file to upload.");
                return;
            }

            formData.append('file', fileInput.files[0]);
            $.ajax({
                url: '/upload_csv',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $('#upload-message').text("File uploaded and training completed. MAE: " + response.mae + ", RMSE: " + response.rmse + ", R^2: " + response.r2);
                    $('#upload-result').show();
                    $('#price-prediction').show();
                    $('#download-csv').show();  // Show the CSV download button
                    updateDropdowns(); // Trigger update for all dropdowns after successful upload
                },
                error: function(xhr, status, error) {
                    $('#upload-message').text("Failed to upload and train: " + error);
                    $('#upload-result').show();
                }
            });
        }

        function updateDropdowns() {
            loadFuelTypes();
            loadProductionYears(); // this will load production years as no dependency
        }

        function loadFuelTypes() {
            $.ajax({
                url: '/get_fuel_types',
                type: 'GET',
                success: function(fuelTypes) {
                    var fuelTypeDropdown = $('#fuel_type');
                    fuelTypeDropdown.empty();
                    fuelTypes.forEach(function(fuelType) {
                        fuelTypeDropdown.append($('<option>', {
                            value: fuelType,
                            text: fuelType
                        }));
                    });
                    updateEngineSizes(); // Trigger update of engine sizes based on the first available fuel type
                },
                error: function(error) {
                    console.error('Error fetching fuel types:', error);
                }
            });
        }

        function predictPrice() {
            var formData = {
                'fuel_type': $('#fuel_type').val(),
                'engine_size': $('#engine_size').val().replace(/[\s\,cm3]/g, ''),  // Remove spaces, commas, and 'cm3'
                'horsepower': $('#horsepower').val().replace(/[\s\,KM]/g, ''),  // Remove spaces, commas, and 'KM'
                'mileage': $('#mileage').val(),
                'gearbox': $('#gearbox').val(),
                'production_year': $('#production_year').val()
            };
            console.log("Sending data:", formData);  // Log cleaned data to verify
            $.ajax({
                url: '/predict_price',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response) {
                    $('#predicted-price').text(response.predicted_price);
                    $('#prediction-result').show();
                },
                error: function(xhr, status, error) {
                    console.error("Failed to predict price: ", status, xhr.statusText);
                    console.log("Response Text:", xhr.responseText); // Log the response text to get more details if available
                }
            });
        }

        function updateEngineSizes() {
            var fuelType = $('#fuel_type').val(); // get the selected fuel type
            $.ajax({
                url: '/get_engine_sizes',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({fuel_type: fuelType}),
                success: function(engineSizes) {
                    var engineSizeDropdown = $('#engine_size');
                    engineSizeDropdown.empty();
                    engineSizes.forEach(function(size) {
                        engineSizeDropdown.append($('<option>', {
                            value: size,
                            text: size
                        }));
                    });
                    updateHorsepowers(); // Trigger update of horsepowers based on the first available engine size
                },
                error: function(xhr, status, error) {
                    console.error("Failed to fetch engine sizes: ", status, error);
                }
            });
        }

        function updateHorsepowers() {
            var engineSize = $('#engine_size').val(); // get the selected engine size
            $.ajax({
                url: '/get_horsepowers',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({engine_size: engineSize}),
                success: function(horsepowers) {
                    var horsepowerDropdown = $('#horsepower');
                    horsepowerDropdown.empty();
                    horsepowers.forEach(function(power) {
                        horsepowerDropdown.append($('<option>', {
                            value: power,
                            text: power
                        }));
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Failed to fetch horsepowers: ", status, error);
                }
            });
        }

        function loadProductionYears() {
            $.ajax({
                url: '/get_production_years',
                type: 'GET',
                success: function(years) {
                    var yearDropdown = $('#production_year');
                    yearDropdown.empty();
                    years.forEach(function(year) {
                        yearDropdown.append($('<option>', {
                            value: year,
                            text: year
                        }));
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Failed to fetch production years: ", status, error);
                }
            });
        }

        function downloadCSV() {
            window.location.href = '/download_csv'; // This will trigger the file download
        }


        $(document).ready(function() {
            loadProductionYears(); // Load production years when the page loads
        });
    </script>
</body>
</html>
